@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  font-family: "Plus Jakarta Sans", sans-serif;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1.6rem 0;
}
header button:hover {
  background: var(--666CA3, #666ca3);
}
.general button:hover {
  background: var(
    --Gradient-1-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
}
header h2 {
  color: var(--13183F, #13183f);
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header button {
  border-radius: 2.8rem;
  background: var(--13183F, #13183f);
  border: none;
  color: var(--FFFFFF, #fff);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem; /* 175% */
  padding: 0.9rem 2.4rem 1.1rem;
}

main {
  padding: 0 1.6rem;
  width: 37.5rem;
  margin: 3.8rem auto 8rem;
}
h1 {
  color: var(--13183F, #13183f);

  /* Heading L */
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.general .hero-img {
  max-width: 100%;
}

.details {
  color: var(--83869A, #83869a);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin-top: 2.6rem;
}
.start {
  border-radius: 31.5px;
  color: var(--FFFFFF, #fff);

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  border: none;
}
.general button {
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  padding: 1.5rem 3.7rem;
  margin-top: 2.4rem;
}

.popular {
  color: var(--FFFFFF, #fff);

  font-size: 2.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.2rem; /* 133.333% */
  border-radius: 1rem;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%)
  );
  padding: 2.4rem 2.9rem 3.2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 40px;
}
.course-info {
  padding: 56px 29px 32px;
  position: relative;
  border-radius: 10px;
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}
.course-info img {
  position: absolute;
  top: -2.8rem;
}
.course-info h2 {
  color: var(--13183F, #13183f);
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.course-info p {
  color: var(--83869A, #83869a);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem; /* 162.5% */
  margin-top: 1.6rem;
}

.course-info button {
  all: unset;
  color: var(--F74780, #f74780);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem; /* 155.556% */
  margin-top: 2.4rem;
}
.course-info button:hover {
  color: var(--FFA7C3, #ffa7c3);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 16px;
  background: var(--13183F, #13183f);
}
footer button:hover {
  background: var(
    --Gradient-2-Hover,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%)
  );
}
footer h2 {
  color: var(--FFFFFF, #fff);
  font-size: 28r;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
footer button {
  background: var(
    --Gradient-2,
    linear-gradient(180deg, #4851ff 0%, #f02aa6 100%)
  );
  padding: 9px 24px 11px;
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/image-hero-tablet.png),
      linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right -300px top -80px;
  }

  header {
    padding: 24px 39px 0;
  }

  main {
    width: 768px;
    padding: 0 39px;
    margin-bottom: 86px;
  }
  .hero-img {
    display: none;
  }
  .general {
    width: 398px;
    margin-top: 105px;
  }
  .wrapper {
    margin-top: 210px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 56px 10px;
  }
  .popular {
    width: 339px;
    padding: 56px 21px 139px 32px;
  }
  .course-info {
    width: 340px;
  }

  footer {
    padding: 36px 39px;
  }
  footer h2 {
    font-size: 2.8rem;
  }
}

@media (min-width: 1400px) {
  body {
    background-image: url(./assets/image-hero-tablet.png),
      linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right -300px top -120px;
  }

  header {
    padding: 24px 165px;
  }
  main {
    width: 1440px;
    padding: 0 165px;
  }
  .general {
    width: 457px;
    margin-top: 178px;
  }
  .general h1 {
    font-size: 5.6rem;
  }
  .general p {
    font-size: 1.8rem;
  }
  button {
    font-size: 1.8rem;
  }
  .wrapper {
    margin-top: 250px;
    gap: 80px 30px;
  }
  .course-info p {
    margin-top: 2.4rem;
  }
  footer {
    padding: 37px 165px;
  }
  footer h2 {
    font-size: 3.6rem;
  }
  footer button {
    padding: 14px 32px;
  }
}
